body {
  width: 901px;
  margin: 0 auto;
}

header{
  height: 60px;
}

header .logo{
  float: left;
  display: inline-block;
  margin-right: 10px;
}

header nav{
  float: right;
}

nav ul{
  display: inline-block;
  vertical-align: middle;
  height: 45px;
}

nav ul li{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

li a{
  display: block;
}

header h4{
  font-family: cursive;
  font-size: 2em;
  font-style: italic;
  font-weight: 800;
}

header h5{
  text-transform: capitalize;
  font-size: .5em;
}

.divider{
  height: 10px;
  background: repeating-linear-gradient(
    45deg,
    white,
    #ccc 2px,
    #666 2px,
    #666 2px
  );;
}

section{
  margin: 30px 0;
}

section h1 {
  font-size: 1.5em;
  font-weight: 800;
}

section h3{
  font-size: .75em;
  font-weight: 600;
  color: #b9b9b9;
}

section img{
  margin: 20px 0;
}


.vanessa img{
  display: inline;
  margin-top: 10px;
}

.van {
  box-align: left;
  margin-left:10%;
  float: top;

  margin-top: -7%;
  margin-bottom: 1%;
  font-style: initial;
  font-size: 90%


}

article p {
  text-indent: 1em;
  font-size: 1.225em;
  margin-bottom: 30px;
}

form{
  background-image: url(/img/list-bg.png);
  padding: 35px 40px;
}

fieldset{
  width: 50%;
}

fieldset ul{
  width: 100%;
}

fieldset:first-of-type{
  float: right;
}

input{
  display: inline-block;
}

label{
  display: inline-block;
  line-height: 1.9;

}

input[type=checkbox]:checked + label{
  text-decoration: line-through;
}

footer p {
  font-size: 90%;
  letter-spacing: 1;
  margin-left: 10%;
  
}

.publishing {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-left: -40px;
  font-size: 10px
}
.bottom {
  margin: 0 auto 30px;
  width: 31px;
  height: 33px;
  z-index: 5;
}

hr{
  position: relative;
  top: 25px;
  width: 100%;
  color: #ccc;
  border-style: dotted;
  border-color: #ccc;
  z-index: -1;
}

.bottom img{
  margin: 0;
  z-index: 5;
}

button {
  border: solid 1px;
  background-color: rgba(173, 58, 16, 0.849);
  color: white;
  
  padding: 18px;
  float: right;
  font-size: 12px;
  width: 120px;
  float: top;
  margin-top: -4%;
  line-height: 10%;
}
