.publishing {
  text-align: center;

  font-size: 10px
}
.bottom {
  border: 1px;
  display: inline-block;
  border-bottom-style: dotted;
  border-color: grey; 
  margin-left: 50%;
  margin-bottom: 10px;

}
button {
  border: solid 1px;
  background-color: rgba(173, 58, 16, 0.849);
  color: white;
  padding: 12px;
  float: right;
  font-size: 11px;
  width: 120px;
  float: top;
}
van-pic.png {
  border: solid;
}